.form-container{
    padding: 2.5%;
}
.hide{
    display:none;
}
.extra{
    margin-left: 1%;
}
.option {
}
.option button {
    min-width: 120px !important;
    max-width: 100%;
    white-space: normal;
}
.option button p {
    margin-bottom: 0;
}
.input_box {
    width:80%;
    padding: 6px;
}
img {
    max-width: 100% !important;
}

.qtext img {
    padding: 10px;
}

.profile-pic-div{
    height: 150px;
    
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-device-width: 600px) {

}


.star{
    color: red
  }