<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115187076-1"></script>
	<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-115187076-1');
	</script>

        {% block head_extra %}{% endblock %}
        <title>{% block title %} {% endblock %} </title>
    </head>
    <body>
        <header class="container">
            {% block header %}{% endblock %}
        </header>
        <main class="container">
	    {% block flash %}
		    {% with messages = get_flashed_messages() %}
			   {% if messages %}
			      {% for message in messages %}
				 <div class="alert alert-danger alert-dismissible">
			             <a href="#" class="close" data-dismiss="alert" aria-label="close">
				     	&times;
				     </a>
  				     <strong>
					     Please Note: 
				     </strong>
				     {{ message }}
				 </div>
			      {% endfor %}
			   {% endif %}
		    {% endwith %} 
	    {% endblock %}
            {% block main %}{% endblock %}
        </main>
        <footer class="container">
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
