<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body >
    <div style="margin:40px;">
       <div>
        <center>
          <h2>
            <b>NavGurukul Scholarship Test - Set {{ set.id }}</b>
          </>
          <h5>Question Paper</h5>
        </center>
      </div>

      {% set strings = 'abcdefghijklmnopqrstuvwxyz' %}

      <div style="margin-top:20px; margin-bottom: 20px;">
        <ol>
        {% for question in questions %}
          <li style="page-break-inside:avoid !important; ">
            <table style="page-break-inside:avoid !important; width:100% !important;">
                {% if question.type.value == 'MQC' %}
                      <tr>
                        <td>
                          {{ question.en_text | safe}}
                          <br>
                          {{ question.hi_text | safe}}
                          <!-- tell rishabh here should be something for images also both in models and here -->
                        </td>
                      </tr>

                      {% if question.options.all() %}
                        <tr style="display:inline-block;">
                            {% for option in question.options.all() %}
                              {% if option.is_url() %}
                                  {% if loop.index is divisibleby 2 %}
                                    <td>
                                  {% else %}
                                    <td style="float: left; min-width: 400px;">
                                  {% endif %}
                                      <p>
                                        {{ strings[loop.index0] }})
                                        <img src="{{ option.en_text}}" height="100px" style="display:inline-block; vertical-align: text-top; margin:auto;">
                                      </p>
                                    </td>
                              {% else %}
                                {% if loop.index is divisibleby 2 %}
                                  <td>
                                {% else %}
                                  <td style="float: left; min-width: 400px;">
                                {% endif %}
                                      {{ strings[loop.index0] }}) {{ option.en_text }}
                                  </td>
                             {% endif %}
                            {% endfor %}
                        </tr>
                      {% endif %}
                {% else %}
                        <tr>
                          <td>
                            {{ question.en_text | safe}}</br>
                            {{ question.hi_text | safe }}</p>
                            <p>Iska answer likho answers wale page pe.</p>
                          </td>
                        </tr>
                {% endif %}
            </table>
          </li>
        {% endfor %}
        </ol>

      </div>
    </div>
  </body>
</html>
