<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <style>
      tr.inline-block{
        display: inline-block;
      }
      table, li{
          page-break-inside:avoid !important;
          width:100% !important;
      }
      .option-image{
        display:inline-block;
        vertical-align: text-top;
        margin:auto;
        height: 100px;
      }
      .odd-option{
        float: left; min-width: 400px;
      }
  </style>
  </head>

  <body >
    <div style="margin:40px;">
       <div>
        <center>
          <h2>
            <b>NavGurukul Scholarship Test - Set {{ set.id }}</b>
          </>
          <h5>Question Paper</h5>
        </center>
      </div>

      {% set strings = 'abcdefghijklmnopqrstuvwxyz' %}

      <div style="margin-top:20px; margin-bottom: 20px;">
        <ol>
        {% for question in questions %}
          <li>
            <table>
                {% if question.type.value == 'MQC' %}
                      <tr>
                        <td>
                          {{ question.en_text | safe}}
                          <br>
                          {{ question.hi_text | safe}}
                        </td>
                      </tr>

                      {% if question.options.all() %}
                        <tr class="inline-block">
                            {% for option in question.options.all() %}
                                {% if loop.index is divisibleby 2 %}
                                  <td>
                                {% else %}
                                  <td class="odd-option">
                                {% endif %}
                                      {{ strings[loop.index0] }}) {{ option.en_text }}
                                  </td>
                            {% endfor %}
                        </tr>
                      {% endif %}
                {% else %}
                        <tr>
                          <td>
                            {{ question.en_text | safe}}</br>
                            {{ question.hi_text | safe }}</p>
                            <p>Iska answer likho answers wale page pe.</p>
                          </td>
                        </tr>
                {% endif %}
            </table>
          </li>
        {% endfor %}
        </ol>

      </div>
    </div>
  </body>
</html>
