<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>

  <body>
    <div  style="margin-top:80px;">
       <div>
        <center>
          <h2>
            <b>NavGurukul Scholarship Test - Set {{ question_set }}</b>
          </>
          <h5>Question Paper</h5>
        </center>
      </div>

      <div style="margin-top:20px; margin-bottom: 20px;">
        {% for question in questions %}
            <table style="page-break-inside:avoid !important;width: 100%; display: block;">
              {% if question.type.value == 'MQC' %}
                    <tr style="display:block;">
                      <td>
                        {{ loop.index }}. <br>
                        {{ question.en_text }} <br>
                        {{ question.hi_text }}
                      </td>
                    </tr>

                    {% if question.options.all() %}
                      <tr style="display:inline-block;">
                          {% for option in question.options.all() %}
                            {% if option.is_url() %}
                                {% if loop.index is divisibleby 2 %}
                                  <td>
                                {% else %}
                                  <td style="float: left; margin-right: 350px;">
                                {% endif %}
                                      <img src="{{ option.en_text}}" height="200px">
                                  </td>
                            {% else %}
                              {% if loop.index is divisibleby 2 %}
                                <td>
                              {% else %}
                                <td style="float: left; margin-right: 350px;">
                              {% endif %}
                                    {{ loop.index }}. <br>
                                    <p>{{ option.en_text }}</p>
                                    <p>{{ option.hi_text }}</p>
                                </td>
                           {% endif %}
                          {% endfor %}
                      </tr>
                    {% endif %}
              {% else %}
                      <tr style="display:block;">
                          {{ loop.index }}.<br>
                          <td>{{ question.en_text }}</td>
                          <td>{{ question.hi_text }}</td>
                          <td>Iska answer likho answers wale page pe.</td>
                      </tr>
              {% endif %}
            </table>
            <br><br>
        {% endfor %}

      </div>
    </div>
  </body>
</html>
