{% extends "master.html" %}
{% block title %}
Road to Navgurukul
{% endblock %}

{% block head_extra %}
<style>
    .m-row{
        margin:0.5rem;
        width:100%;
    }
    .form-container{
        padding:2rem;
    }
    form>*{
        margin-top:1rem;
    }
    main{
        margin-top:9%;
    }
    h2{
        font-size:1.5rem;
    }
    .hide{
        display:none;
    }
    *[required]{
    }
</style>
{% endblock %}

{% block header %}
<nav></nav>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-8 offset-md-2">
            <div class="col-xs-12 col-sm-12">
            <form class="row" method="post">
                    <div class="row border border-warning rounded form-container">
                        <h2 class="col-md-12 text-center col-xs-12 col-sm-12">
                            Yeh details humein aage ke steps mein help karengi. Lekin yeh details bharni compulsory nahi hain. Jo na samajh aaye usko khaali chor sakte ho.
                        </h2>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Aap kis State me rehte hai</div>
                            <select name="state"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded section-1">
                                    <option value="NONE">Select State</option>
                                    <option value='Andaman and Nicobar Islands'>Andaman and Nicobar Islands</option>
                                    <option value='Andhra Pradesh'>Andhra Pradesh</option>
                                    <option value='Arunachal Pradesh'>Arunachal Pradesh</option>
                                    <option value='Assam'>Assam</option>
                                    <option value='Bihar'>Bihar</option>
                                    <option value='Chandigarh'>Chandigarh</option>
                                    <option value='Chhattisgarh'>Chhattisgarh</option>
                                    <option value='Dadra and Nagar Haveli'>Dadra and Nagar Haveli</option>
                                    <option value='Daman and Diu'>Daman and Diu</option>
                                    <option value='National Capital Territory of Delhi'>National Capital Territory of Delhi</option>
                                    <option value='Goa'>Goa</option>
                                    <option value='Gujarat'>Gujarat</option>
                                    <option value='Haryana'>Haryana</option>
                                    <option value='Himachal Pradesh'>Himachal Pradesh</option>
                                    <option value='Jammu and Kashmir'>Jammu and Kashmir</option>
                                    <option value='Jharkhand'>Jharkhand</option>
                                    <option value='Karnataka'>Karnataka</option>
                                    <option value='Kerala'>Kerala</option>
                                    <option value='Lakshadweep'>Lakshadweep</option>
                                    <option value='Madhya Pradesh'>Madhya Pradesh</option>
                                    <option value='Maharashtra'>Maharashtra</option>
                                    <option value='Manipur'>Manipur</option>
                                    <option value='Meghalaya'>Meghalaya</option>
                                    <option value='Mizoram'>Mizoram</option>
                                    <option value='Nagaland'>Nagaland</option>
                                    <option value='Odisha'>Odisha</option>
                                    <option value='Puducherry'>Puducherry</option>
                                    <option value='Punjab'>Punjab</option>
                                    <option value='Rajasthan'>Rajasthan</option>
                                    <option value='Sikkim'>Sikkim</option>
                                    <option value='Tamil Nadu'>Tamil Nadu</option>
                                    <option value='Telangana'>Telangana</option>
                                    <option value='Tripura'>Tripura</option>
                                    <option value='Uttar Pradesh'>Uttar Pradesh</option>
                                    <option value='Uttarakhand'>Uttarakhand</option>
                                    <option value='West Bengal'>West Bengal</option>
                            </select>
                        </div>
              
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Maximum Qualification</div>
                            <select name="qualification" id="qualification" 
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded section-1">
                                    <option value="NONE">Select Option</option>
                                    <option value='class_5_pass'>Class 5 Pass</option>
                                    <option value='class_8_pass'>Class 8 Pass</option>
                                    <option value='class_10_pass'>Class 10 Pass</option>
                                    <option value='class_12_pass'>Class 12 Pass</option>
                                    <option value='graduate'>Graduation Completed</option>
                                    <option value='post_graduate'>Post Graduate</option>
                                    <option value='prof_degree'>Professional Degree</option>
                            </select>
                        </div>
                        <div class="row m-row min-10 hide">
                            <div class="col-xs-12 col-sm-6 col-md-6">Percentage in 10th</div>
                            <input type="number" name="class_10_marks" 
                                placeholder="Percentage in 10th" min='0' step='any'
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded"/>
                        </div>
                        <div class="row m-row min-12 hide">
                            <div class="col-xs-12 col-sm-6 col-md-6">Percentage in 12th</div>
                            <input type="number" name="class_12_marks" 
                                placeholder="Percentage in 12th"  min='0' step='any'
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded"/>
                        </div>
                        <div class="row m-row min-12 hide">
                            <div class="col-xs-12 col-sm-6 col-md-6">Stream in Class 12th</div>
                            <select name="class_12_stream"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded">
                                <option value="NONE">Select Option</option>
                                <option value="pcm">Non Medical (Physics, Chemistry, Maths)</option>
                                <option value="pcb">Medical (Physics, Chemistry, Biology)</option>
                                <option value="pcmb">Combined (Physics, Chemistry, Biology, Maths)</option>
                                <option value="commerce_with_maths">Commerce (With Maths)</option>
                                <option value="commerce_without_maths">Commerce (Without Maths)</option>
                                <option value="arts">Arts</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">School Medium</div>
                            <select name="school_medium"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded">
                                <option value="NONE">Select Option</option>
                                <option value="english">English</option>
                                <option value="vernacular">Non English</option>
                            </select>
                        </div>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Current Status</div>
                            <input type="text" name="current_status" 
                                placeholder="Abhi kya kar rahe ho? college mein ya school mein kaunsi class mein ho, naukri etc"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded"/>
                        </div>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Number of Family Members</div>
                            <input type="number" name="fam_members" 
                                placeholder="Aapki Family me kitne log hai"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded"/>

                        </div>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Aap ki E-mail Id</div>
                            <input type="email" name="email_id" 
                                placeholder="Aap ki email id kya hai?"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded"/>

                        </div>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Whatsapp Number </div>
                            <input type="text" name="whatsapp_number" 
                                placeholder="Aap ki Whatsapp number kya hai?"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded"/>
                        </div>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6">Caste/Tribe</div>
                            <select name="caste_parent_category" id="caste_parent_category"
                                class="col-xs-12 col-sm-6 border border-warning rounded section-1">
                                <option value="NONE">Select Option</option>
                                <option value="sc">(SC) Scheduled Caste</option>
                                <option value="st">(ST) Scheduled Tribe</option>
                                <option value="obc">(OBC) Other Backward Classes</option>
                                <option value="general">General</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="row m-row caste-other">
                            <div class="col-xs-12 col-sm-6 col-md-6">Jaati</div>
                            <input type="text" name="caste" 
                                placeholder="Aapki Caste Kya hai"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded"/>
                        </div>
                         <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Religion</div>
                            <input type="text" name="religion" 
                                placeholder="Aap ka Religion Kya hai"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded"/>
                        </div>
                        <div class="row m-row" style='margin-top:2rem;margin-bottom:4rem;'>
                            <button class="btn btn-lg btn-danger col-xs-12 
                                col-sm-12 col-md-6 offset-md-3" type="submit">
                                Submit Application
                            </button>
                        </div>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
<script>
    $(function(){
        $("#qualification").change(function(){
            var value = $("#qualification option:selected").text();
            var arr_vals_10 = ['Class 10 Pass', 'Class 12 Pass', 'Graduation Completed',
                            'Post Graduate', 'Professional Degree'];
            var arr_vals_12 = ['Class 12 Pass', 'Graduation Completed',
                            'Post Graduate', 'Professional Degree'];
            if(arr_vals_10.includes(value)){
                $(".min-10").removeClass('hide');
            }
            else{
                $(".min-10").addClass('hide');
            }
            if(arr_vals_12.includes(value)){
                $(".min-12").removeClass('hide');
            }
            else{
                $(".min-12").addClass('hide');
            }
        });
      
    });
</script>
{% endblock %}
