{% extends "master.html" %}
{% block title %}
Road to Navgurukul
{% endblock %}

{% block head_extra %}
<style>
    .m-row{
        margin:0.5rem;
        width:100%;
    }
    .form-container{
        padding:2rem;
    }
    form>*{
        margin-top:1rem;
    }
    main{
        margin-top:9%;
    }
    h2{
        font-size:1.5rem;
    }
    .hide{
        display:none;
    }
    *[required]{
    }
</style>
{% endblock %}

{% block header %}
<nav></nav>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-8 offset-md-2">
            <div class="col-xs-12 col-sm-12">
            <form class="row" method="post">
                <div class="row border border-warning rounded form-container">
                    <h2 class="col-md-12 text-center col-xs-12 col-sm-12">Aapki Personal Details</h2>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Aapka Naam</div>
                            <input type="text" name="name" placeholder="Your Name" required
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded section-1"/>
                        </div>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Aapka Mobile Number</div>
                            <input type="number" name="mobile" placeholder="Your Mobile Number"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded section-1"/>
                        </div>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Date of Birth</div>
                            <input type="date" name="dob" placeholder="Your Date of Birth" min='1950-01-01' max='2018-01-01'
                                required class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded section-1"/>
                        </div>
                        <div class="row m-row">
                            <div class="col-xs-12 col-sm-6 col-md-6">Gender/ लिंग</div>
                            <select name="gender"
                                class="col-xs-12 col-sm-6 col-md-6 border border-warning rounded section-1"
                                required>
                                <option value="NONE">Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Other</option>
                            </select>
                        </div>
                    <div class="row m-row" style='margin-top:2rem;margin-bottom:4rem;'>
                        <button class="btn btn-lg btn-danger col-xs-12 
                            col-sm-12 col-md-6 offset-md-3" type="submit">
                            Submit Application
                        </button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
