{% extends "master.html" %}
{% block title %}
Road to Navgurukul
{% endblock %}

{% block head_extra %}
<style>
    .question{
        padding:0.45rem 1.25rem;
        font-size:1.85rem;
        color:#222;
    }
    .question-small{
        font-size:1.45rem;
        color:#676767;
    }
    .question-small:before{ content:"( "; }
    .question-small:after{ content:" )"; }
    .answer-label{
        display:block;
        width:100%;
        border:3px solid #444;         
        background-color:#e2e2e2;
        padding:0.5rem;
        cursor:pointer;
    }
    .options input[type="radio"]:checked+label {
        background-color: #00A43A;
        color:white;
        border:3px solid white;
    }
    .options input[type="radio"]:hover+label {
        border:3px solid #00A43A;
    }
    .options input[type="radio"]{
        display:none;
    }
</style>
<script type="text/javascript">
$(function(){
    $(".submit-btn").click(function(){
        $.ajax({
            type: "POST",
            url: "/recv-answer",
            data: $('input[name=answer]:checked').val(),
            success:function(resp){
                alert(resp);
            },
        });
    });
});

</script>
{% endblock %}

{% block header %}
<div class="row">
    <div class="col-sm-4 time"></div>
</div>
{% endblock %}

{% block main %}
    <div class="row">
        <h2 class="question col-xs-12 col-sm-12">
Ram is rich but Sita is richer. Laxman is poorer than Ram. Who is richest?</h2>
        <h2 class="question question-small col-xs-12 col-sm-12">
राम अमीर है लेकिन सीता राम से ज्यादा अमीर है। लक्ष्मण राम की तुलना में गरीब है। कौन सबसे अमीर है?
        </h2>
        <div class="col-xs-12 col-sm-12 options">
            <ol class="row">
                <li class="col-xs-12 col-sm-12 col-md-5 offset-md-1">
                    <input type="radio" value="abc" name="answer" id="answer_1"/>
                    <label class="answer-label" for="answer_1">Ram / राम</label>
                </li>
                <li class="col-xs-12 col-sm-12 col-md-5 offset-md-1">
                    <input type="radio" value="def" name="answer" id="answer_2"/>
                    <label class="answer-label" for="answer_2">Sita / सीता</label>
                </li>
                <li class="col-xs-12 col-sm-12 col-md-5 offset-md-1">
                    <input type="radio" value="ghi" name="answer" id="answer_3"/>
                    <label class="answer-label" for="answer_3">Laxman / लक्ष्मण</label>
                </li>
                <li class="col-xs-12 col-sm-12 col-md-5 offset-md-1">
                    <input type="radio" value="jkl" name="answer" id="answer_4"/>
                    <label class="answer-label" for="answer_4">All are equally rich / सभी समान रूप से अमीर हैं</label>
                </li>
            </ol>
        </div>
        <div class="col-xs-12 col-sm-12">
            <button type="button" class="btn btn-lg btn-primary submit-btn">
                Next Question / अगला प्रश्न
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            </button>
        </div>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
